{% extends "base_session.html" %}

{% block title %}Assets — Hanson{% endblock %}

{% block body %}
<div class="main-full main-top">
  <h1>Assets</h1>
  <table>
    <thead>
      <tr>
        <th>Asset</th>
        <th>Amount</th>
        <th>Market value (pt)</th>
        <th>Max value (pt)</th>
      </tr>
    </thead>
    <tbody>
    {% for post in asset_report.posts %}
      <tr>
        <th>{% if post.href%}<a href="{{post.href}}">{{post.name}}</a>{% else %}{{post.name}}{% endif %}</th>
        <th></th>
        <th class="num">{{post.market_value.amount}}</th>
        <th class="num">{{post.max_value.amount}}</th>
      </tr>
      {% for entry in post.entries %}
      <tr>
        <td>{{entry.name}}</td>
        <td class="num">{{entry.amount_native.amount}}</td>
        <td class="num">{{entry.market_value.amount}}</td>
        <td class="num">{{entry.max_value.amount}}</td>
      </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <th></th>
        <th class="num">{{asset_report.market_value.amount}}</th>
        <th class="num">{{asset_report.max_value.amount}}</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
