{% extends "base_session.html" %}

{% block title %}Assets — Hanson{% endblock %}

{% block body %}
<div class="main-full main-top">
  <h1>Assets</h1>
  <table class="asset-report">
    <thead>
      <tr>
        <th>Asset</th>
        <th>Amount</th>
        <th>Market value (pt)</th>
        <th>Max value (pt)</th>
      </tr>
    </thead>
    <tbody>
    {% for post in asset_report.posts %}
      {% if post.href %}
      <tr class="post-header">
        <td><a href="{{post.href}}">{{post.name}}</a></td>
        <td></td>
        <td class="num">{{"{:.2f}".format(post.market_value.amount)}}</td>
        <td class="num">{{"{:.2f}".format(post.max_value.amount)}}</td>
      </tr>
      {% endif %}
      {% for entry in post.entries %}
      <tr>
        <td>{{entry.name}}</td>
        <td class="num">{{"{:.2f}".format(entry.amount_native.amount)}}</td>
        <td class="num">{{"{:.2f}".format(entry.market_value.amount)}}</td>
        <td class="num">{{"{:.2f}".format(entry.max_value.amount)}}</td>
      </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
    <tfoot>
      <tr class="post-header">
        <th>Total</th>
        <th></th>
        <th class="num">{{"{:.2f}".format(asset_report.market_value.amount)}}</th>
        <th class="num">{{"{:.2f}".format(asset_report.max_value.amount)}}</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
