{% extends "base.html" %}

{% block headerbar %}
<nav id="main-nav">
  <a href="/" id="home-link">Hanson</a>
  <a href="/markets">Markets</a>
  <a href="/users">Users</a>
  <a href="/assets">ℙ {{session_user.points_balance.amount}}</a>
</nav>
<div id="session-indicator">
  <details>
    <summary>
      <span>{{session_user.user.full_name}}</span>
      <span class="caret"></span>
    </summary>
    <nav>
      <a href="/user/{{session_user.user.username}}">Profile</a>
      <a href="/assets">Assets</a>
      <a href="/transactions">Transactions</a>
      <a href="/settings">Settings</a>
      <a href="/logout">Log Out</a>
    </nav>
  </details>
</div>
{% endblock %}
