<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Title</title>
    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body>
    <header id="headerbar">
      <div class="inner">
        <nav id="main-nav">
          <a href="/" id="home-link">Hanson</a>
          <a href="/markets">Markets</a>
          <a href="/users">Users</a>
        </nav>
        <div id="session-indicator">
          <p><span class="indicator">•</span> logged in as <span>ruuda</span></p>
        </div>
      </div>
    </header>
    <section id="main">
      <div class="inner">
        <h1>Will Foo frobnicate the widget in 2022?</h1>
        <p>Created by <a href="/~ruuda">ruuda</a> on 2022-03-26.</p>
        <p>Test</p>
      </div>
    </section>
  </body>
</html>

