{% extends "base_session.html" %}

{% block title %}{{market.title}} — Hanson{% endblock %}

{% block body %}
<h1 class="main-left main-top">{{market.title}}</h1>
<aside>
  <div class="aside-content main-top">
    <table class="properties">
      <tr>
        <th>Author</th>
        <td><a href="/user/{{author.username}}">{{author.full_name}}</a></td>
      </tr>
      <tr>
        <th>Created</th>
        <td class="num">
          <span title="{{
            market.created_at.isoformat(sep=' ', timespec='seconds')
          }}">{{
            market.created_at.strftime("%Y-%m-%d")
          }}</span>
        </td>
      </tr>
      <tr>
        <th>Capitalization</th>
        <td class="num">{{"{:,.2f}".format(capitalization.amount)}}</td>
      </tr>
      <tr>
        <th>Volume</th>
        <td class="num">13,370.00</td>
      </tr>
      {% for outcome, p in zip(outcomes.outcomes, probabilities) %}
      <tr style="color: {{outcome.color}}">
        <th class="outcome-label">{{outcome.name}}</th>
        <td class="num" style="color: {{outcome.color}}">{{"{:.2f}".format(p)}}</td>
      </tr>
      {% endfor %}
    </table>
    <div class="distribution" style="grid-template-columns: {%
      for p in probabilities
    %}{{p * 100}}fr {% endfor %}">
      {% for outcome in outcomes.outcomes %}
      <div class="outcome" style="background-color: {{outcome.color}}"></div>
      {% endfor %}
    </div>
  </div>
</aside>
<div class="main-left">
  <p>{{market.description}}</p>
</div>
{% endblock %}
