/* Some colors and scales in this stylesheet are taken from Kilsbergen,
   licensed Apache 2.0, see also https://github.com/ruuda/kilsbergen.
*/

/* The Inter font family, see https://rsms.me/inter.
   https://rsms.me/inter/#faq-cdn suggests that linking these files directly is fine.
*/
@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 400;
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: Inter;
  font-style:  italic;
  font-weight: 400;
  src: url("https://rsms.me/inter/font-files/Inter-Italic.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 500;
  src: url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 600;
  src: url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 700;
  src: url("https://rsms.me/inter/font-files/Inter-Bold.woff2?v=3.19") format("woff2");
}

/* Modular scale with exponent 1.7^(1/3). The 1.7 was chosen as the line hight
   that goes well with Inter. Previously I used 1.59, but it was just too tight.
   0.59em
   0.70em
   1.00em
   1.19em
   1.42em
   1.70em
   2.02em
   2.42em
*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Inter, Roboto, sans-serif;
  /*
  Turn on character variant 8 for Inter, which puts serifs on the uppercase I.
  Also turn on variant 1, which has a curved 1.
  Disable contextual alternates for now. There is a bug, either in Inter or
  in Chrome (https://crbug.com/1046095) that causes colons after a <strong> to
  be raised above the baseline.
  */
  font-feature-settings: 'cv01' 1, 'cv08' 1, 'calt' 0;
  line-height: 1.7em;
  background-color: #fff;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 3.7em auto;
}

a {
  text-decoration: none;
  color: #36d;
}

h1, h2, h3 {
  font-weight: 600;
  color: #444;
}

h1 {
  font-size: 2rem;
  line-height: 2.42rem;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.42rem;
  padding-right: 1.42rem;
  max-width: 50em;
  height: 100%;
}

#headerbar {
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
  color: #78a;
}

#headerbar .inner {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "main-nav _ session-indicator";
}

#main-nav {
  grid-area: main-nav;
  margin-left: -0.70em;
}

#session-indicator {
  grid-area: session-indicator;
  margin-right: -0.70em;
  text-align: right;
}

#main-nav a, #session-indicator p {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
}

#main-nav a, #session-indicator {
  color: inherit;
  padding-left: 0.70em;
  padding-right: 0.70em;
}

#main-nav a:hover {
  background-color: #f0f1f2;
}

a#home-link {
  font-weight: 700;
}

#main {
  margin-top: 3rem;
}

#login-form {
  display: grid;
  align-items: center;
  height: 100%;
}

#login-form form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 0.5rem;
}

#login-form h1, #login-form input[type="submit"] {
  grid-column: 2;
}
